
.top {
  width: 100%;
  margin: 0 auto;
  height: 50px;
  position: sticky;
  top: 0;
  /* left:0; */
  display: flex;
  align-items: center;
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 700;
  z-index: 999;
}

.top-center {
  flex: 6;
}

.top-left , .top-right{ 
  flex: 3;
  display: flex;
  align-items: center;
}

.topIcon {
  font-size: 20px;
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}

.topImg {
  border-radius: 50%;
  object-fit: cover;
}

.topList {
  display: flex;
  justify-content: center;
  margin:0;
  padding:0;
  list-style-type:none;
}

.topListItem {
  margin-right: 20px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  font-family: 'Source Code Pro' ,sans-serif;
}

.topSearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
  margin-left: 15px;
}